
<div class="page-container">
    <div class="content-card">
    <div class="celebration">🎉</div>
    <h1 class="title">YAAAY!!! 🥳</h1>
    <p class="message">
        We are now officially         IN A RELATIONSHIP.
        <br><br>
        You're mine now!
        <br><br>
        I love you so much! ❤️
    </p>
    <div class="hearts">
        <span class="heart">💖</span>
        <span class="heart">💕</span>
        <span class="heart">💗</span>
        <span class="heart">💝</span>
        <span class="heart">💘</span>
    </div>
    </div>
</div>