<div class="page-container">
  <div class="content-card">
    <div class="sparkle-animation">✨</div>
    <h1 class="title">My Dearest Rell</h1>
    <p class="message">
      <br />
      Remember that chapter from The Little Prince?
      <br />
      <br />
      'The time you have spent on your rose makes your rose so important.'
      <br />
      <br />
      At first, I thought you were like everyone else...
      <br /><br />
      but you're not. You're MY rose 🌹
    </p>
    <button class="next-btn" (click)="nextPage()">Next</button>
  </div>
</div>
